.portfolio{
  margin-left: 200px;
  margin-right: 50px;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
.column{
  flex:1;
}

.column img {
  max-width: 95%;
  height: auto;
  padding: 5px;
}
