    <footer>
        <a href="https://validator.w3.org/check?uri=referer">
            <img src="images/button_validation_html5.png" alt="button_validation_html5">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
        </a>
        <p>Designed by <a href="https://mgrant26.github.io/itis3135/designFirm/">mGrant Inc. LLC</a></p>
        <p>add validation buttons, different text, add href to all images, bee logo top left, alt tags on pics</p>
    </footer>